* {
  box-sizing: border-box; }

body {
  font-size: 18px;
  line-height: 1.6;
  color: #4a4a4a;
  margin: 0;
  font-family: "Varela Round", sans-serif; }

p {
  font-size: 16px;
  font-weight: 300;
  color: #4a4a4a;
  margin-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em; }
  @media (min-width: 769px) {
    p {
      font-size: 16px;
      font-weight: 300;
      color: #4a4a4a;
      margin: 0 auto;
      padding-left: 4%; } }
  @media (min-width: 1025px) {
    p {
      font-size: 19px;
      font-weight: 300;
      color: #4a4a4a;
      margin: 0 0 1.5em;
      padding: 0 6px 0 0 !important; } }

h2, h3 {
  text-transform: uppercase;
  color: #4a4a4a;
  margin-top: 0; }

h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  text-transform: none; }
  @media (min-width: 769px) {
    h3 {
      font-size: 18px; } }
  @media (min-width: 1025px) {
    h3 {
      font-size: 19px;
      margin-bottom: 0; } }

a:link {
  color: #ffa949;
  text-decoration: none; }

a:visited {
  color: #ffa949; }

a:hover {
  color: rgba(255, 169, 73, 0.5); }

a:active {
  color: lightcoral; }

@media (min-width: 769px) {
  .lead {
    padding: 0 5em;
    margin-bottom: 2em; } }

@media (min-width: 1025px) {
  .lead {
    padding: 0 18em;
    margin-bottom: 2em; } }

h2, h3, .three,
.two {
  text-align: center; }

@media (min-width: 769px) {
  .container .primary {
    float: right; } }

@media (min-width: 1025px) {
  .container .primary {
    float: right; } }

@media (min-width: 769px) {
  .container .secondary {
    float: left;
    text-align: left;
    padding-left: 0 !important; } }

@media (min-width: 1025px) {
  .container .secondary {
    float: left; } }

@media (min-width: 769px) {
  .col {
    padding-left: 0;
    padding-right: 0; } }

.col-sm-12 {
  width: 100%;
  margin-bottom: 50px; }

@media (min-width: 769px) {
  .container {
    width: 100%;
    max-width: 1150px;
    margin: 50px auto; } }

@media (min-width: 1025px) {
  .container {
    width: 90%;
    margin: 50px auto 30px; } }

/* ---- Page Elements ---- */
.img {
  width: 100%;
  margin-bottom: 25px; }
  @media (min-width: 769px) {
    .img {
      width: 100%; } }

.main-footer {
  background: #fafafa; }
  @media (min-width: 769px) {
    .main-footer {
      padding: 2em;
      background: #fafafa; } }

.footer-nav {
  float: right;
  list-style: none;
  text-transform: uppercase;
  margin-top: 6px;
  margin-bottom: 6px; }
  @media (min-width: 769px) {
    .footer-nav {
      float: right;
      list-style: none;
      text-transform: uppercase; } }

@media (min-width: 769px) {
  .footer-name {
    float: left; } }

.socket {
  border-top: 1px solid #dddddd;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0; }

.main-header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: #fafafa;
  margin-bottom: 30px;
  text-align: center; }
  @media (min-width: 769px) {
    .main-header {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      padding-top: 0.5em;
      padding-bottom: 0.25em; }
      .main-header.main-nav {
        display: flex; } }
  @media (min-width: 1025px) {
    .main-header {
      flex-direction: row;
      justify-content: space-between; } }

/* ---- Navigation ---- */
.main-heading, .main-nav li,
.main-nav,
.main-nav li {
  display: block;
  background: none;
  padding-left: 0; }

ul .footer-nav,
ul .main-nav {
  list-style: none; }

.main-heading, .main-nav li {
  margin-top: 6px;
  margin-bottom: 6px; }
  @media (min-width: 769px) {
    .main-heading, .main-nav li {
      text-align: center; } }
  @media (min-width: 1025px) {
    .main-heading, .main-nav li {
      float: left; } }

.main-nav {
  padding-left: 0; }
  @media (min-width: 1025px) {
    .main-nav {
      float: right; } }
  .main-nav li {
    background: #fff; }
    @media (min-width: 1025px) {
      .main-nav li {
        float: left; } }
  .main-nav a {
    font-size: 18px;
    color: #4a4a4a;
    font-weight: bold;
    text-transform: uppercase; }
  .main-nav a:hover {
    color: #7a7a7a; }

.main-heading a, .main-nav li a,
.main-nav a {
  padding: 10px 0;
  display: block; }

.footer-name,
.footer-nav li {
  margin-top: 6px;
  margin-bottom: 6px;
  float: left; }

.footer-name,
.footer-nav a {
  padding: 10px;
  display: block; }

/* =================================
  Media Queries
==================================== */
@media (min-width: 769px) {
  .main-nav li {
    margin-left: 12px; }
  .main-nav,
  .main-nav li {
    display: inline-block;
    background: none;
    text-align: center; }
  .col-md-6 {
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
    margin-bottom: 15px; }
  .three {
    margin-top: 30px;
    text-align: center;
    background: #fafafa; }
  .clearfix::after {
    content: "";
    display: table;
    clear: both; } }

@media (min-width: 1025px) {
  .col-lg-4 {
    display: inline-block;
    width: 33%;
    text-align: center; }
  .clearfix::after {
    content: "";
    display: table;
    clear: both; } }

h2, h3, .three,
.two {
  text-align: center; }

.col, ul .footer-nav {
  display: inline-block; }

.container .two [class*="col-"], .col, .container {
  padding: 0 0.5em; }
