.main-footer {
	background: $bg-footer;
	@include tablet {
		padding: 2em;
		background: #fafafa;
	}
}

.footer-nav {
	float: right;
	list-style: none;
	text-transform: uppercase;
	margin-top: 6px;
	margin-bottom: 6px;
	@include tablet {
		float: right;
		list-style: none;
		text-transform: uppercase;
	}
}

.footer-name {
	@include tablet {
		float: left;
	}
}

.socket {
	border-top: 1px solid #dddddd;
	width: 90%;
	margin: 0 auto;
	padding: 1em 0;
}
