.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: $bg-footer;
	margin-bottom: 30px;
	text-align: center;
	@include tablet {
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
		padding-top: 0.5em;
		padding-bottom: 0.25em;

		&.main-nav {
			display: flex;
		}
	}
	@include desktop {
		flex-direction: row;
		justify-content: space-between;
	}
}
/* ---- Navigation ---- */
.main-heading,
.main-nav,
.main-nav li {
	display: block;
	background: none;
	padding-left: 0;
}
ul {
	.footer-nav,
	.main-nav {
		list-style: none;
	}
	.footer-nav {
		@extend %inline-block;
	}
}

.main-heading {
	margin-top: 6px;
	margin-bottom: 6px;
	@include tablet {
		text-align: center;
	}
	@include desktop {
		float: left;
	}
}

.main-nav {
	padding-left: 0;
	@include desktop {
		float: right;
	}
	li {
		@extend .main-heading;
		background: #fff;
		@include desktop {
			float: left;
		}
	}
	a {
		font-size: $text-size-med;
		color: $text-color;
		font-weight: bold;
		text-transform: uppercase;
	}
	& a:hover {
		color: $nav-hover-color;
	}
}

.main-heading a,
.main-nav a {
	padding: 10px 0;
	display: block;
}

.footer-name,
.footer-nav li {
	margin-top: 6px;
	margin-bottom: 6px;
	float: left;
}

.footer-name,
.footer-nav a {
	padding: 10px;
	display: block;
}
