/* =================================
  Media Queries
==================================== */
@include tablet {
	.main-nav li {
		margin-left: 12px;
	}

	.main-nav,
	.main-nav li {
		display: inline-block;
		background: none;
		text-align: center;
	}

	.col-md-6 {
		width: 50%;
		margin-right: -4px;
		vertical-align: top;
		margin-bottom: 15px;
	}

	.three {
		margin-top: 30px;
		text-align: center;
		background: #fafafa;
	}
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}
}
@include desktop {
	.col-lg-4 {
		display: inline-block;
		width: 33%;
		text-align: center;
	}

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}
}
