* {
	box-sizing: border-box;
}

body {
	@include text($text-size * 1.8, 1.6, $color: $text-color);
	margin: 0;
	font-family: $font-stack;
}

p {
	@include text($text-size-body, $weight: 300, $color: $text-color);
	margin-bottom: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
	@include tablet {
		// styles go here
		@include text($text-size-body, $weight: 300, $color: $text-color);
		margin: 0 auto;
		padding-left: 4%;
	}
	@include desktop {
		// styles go here
		@include text($text-size-lg, $weight: 300, $color: $text-color);
		margin: 0 0 1.5em;
		padding: 0 6px 0 0 !important;
	}
}

h2 {
	text-transform: uppercase;
	color: $text-color;
	margin-top: 0;
	@extend %centered;
}

h3 {
	@extend h2;
	@include text($text-size-med, $weight: normal);
	margin-bottom: 0;
	text-transform: none;
	@include tablet {
		 @include text($text-size-med);
	}
	@include desktop {
		 @include text($text-size-lg);
		margin-bottom: 0;
	}
}

a {
	&:link {
		color: $link-color;
		text-decoration: none;
	}

	&:visited {
		color: $link-color;
	}

	&:hover {
		color: $hover-color;
	}

	&:active {
		color: $active-color;
	}
}

.lead {
	@include tablet {
		padding: 0 5em;
		margin-bottom: 2em;
	}
	@include desktop {
		padding: 0 18em;
		margin-bottom: 2em;
	}
}
