// Variables

$text-color: #4a4a4a;
$link-color: rgb(255, 169, 73);
$hover-color: rgba(255, 169, 73, 0.5);
$active-color: lightcoral;
$nav-color: #4a4a4a;
$nav-hover-color: #7a7a7a;
$hover-nav: #7a7a7a;
$text-size: 10px;
$text-size-body: $text-size * 1.6;
$text-size-med: $text-size * 1.8;
$text-size-lg: $text-size * 1.9;
$font-stack: 'Varela Round', sans-serif;
$bg-footer: #fafafa;


// Media Queries

$brk-narrow     : '(min-width: 769px)';
$brk-wide       : '(min-width: 1025px)';
